.nav {
    list-style: none;
    display: flex;
    padding: 0;
    background-color: pink;
    text-align: center;
}
.navItem {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid;
    cursor: pointer;
}
.graph {
    display: none;
    height: 100%;
}

html {
    height: 100%;
  }

body {
    height: 100%;
  }

 